#appBarContainer{
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  padding: 10px 20px;
  height: 100vh;
  background-color: #bb0a1e;
  position: sticky;
  box-shadow: 0.1px 0px 3px black;
  top: 0;
  z-index: 1;
  transition: 0.2s;
}

.extended{
  width: 100px;
  transition: 0.2s;
}

.retracted{
  width: 70px;
  transition: 0.2s;
}


.login-container {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  gap: 20px;
}

#signInButton {
  height: 35px;
  width: 80px;
  border-radius: 10px;
}

.homeIcon {
  scale: 1.5;
  color: white;
}

.lockIcon {
  scale: 1.5;
}

.loginWindowWrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
}

.loginWindow {
  top: 5%;
}

.notificationTrayWrapper {
  position: fixed;
  right: 10px;
  z-index: 10;
}

#imediaLabel{
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  user-select: none;
}

#homeLabelContainer{
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

#imediaImage{
  aspect-ratio: auto;
  max-height: 40px;
  cursor: pointer;
}

#linksContainer{
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  gap: 30px;
}

#link{
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 5px 10px; */
  /* background-color: green; */
  border-radius: 10px;
  cursor: pointer;
  gap: 10px;
}

[appBarHighlighted~="yes"]{
  background-color: rgb(255, 255, 255, 0.3);
  padding: 5px 5px;
  border-radius: 10px;
}