#behaviourCalendarContainer {
  /* margin-top: 20px; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 80px;
}

#termButtonsContainer {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  outline: 1px solid #d5212e;
  width: 300px;
  /* border-radius: 10px !important; */
}
#termButton1,
#termButton2,
#termButton3 {
  height: 40px;
  width: 100px;
  color: #d5212e;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#todayButton{
  height: 40px;
  width: 100px;
  color: white;
  background-color: #d5212e;
  font-weight: bold;
  border: none;
  cursor: pointer;
}


#termButton2 {
  border-right: 1px solid #d5212e;
  border-left: 1px solid #d5212e;
}

.selectedTermButton {
  position: inherit;
  background-color: #d5212e !important;
  color: white !important;
}

#calendarDayHeading {
  background-color: rgb(30, 135, 188);
  background-color: #d5212e;
  background-color: grey;

  position: sticky;
  top: 0;
}

#calendarDay {
  opacity: 0.4;
}

#halfTermCell {
  background-color: grey;
  color: white;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}

table {
  border-collapse: collapse;
}

th {
  text-align: center;
}

#calendarDayContainer {
  height: 70px;
  width: 100%;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border-right: 1px solid black;  */
  font-weight: bold;
  cursor: pointer;
}

#calendarRow {
  /* border-bottom: 1px solid black; */
}

#studentLabel {
  color: #d5212e;
  color: grey;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  /* border-bottom: 1px solid rgb(30, 135, 188); */
  font-family: Helvetica;
  text-align: left;
}

@keyframes appear {
  0% {
    opacity: 0;
    top: -60px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}

.todaysDate{
  outline: 2px solid #d5212e;
}
.authAbsent{
  background-color: rgb(172, 172, 172) !important;
  color: black !important;
}

.absentUnAuth{
  background-color: pink !important;

}

.highScore{
  background-color: green !important;
  color: white !important;
}

.midScore{
  background-color: orange !important;
  color: white !important;
}

.lowScore{
  background-color: red !important;
  color: white !important;
}


#calendarDayMenu{
  position:relative;
  background-color: white;
  width: 80px;
  /* height: 150px; */
  top: -50px;
  left: 40px;
  gap: 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#dropDown{
  position: absolute;
  top: 0px;
}

[nonSelectable~="yes"]{
  /* pointer-events: none; */
}