#mainContainer {
  display: flex;
}

#taskBarContainer{
  height: 60px;
  width: 550px;
  background-color: #4CAF50;
  border-radius: 10px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#iconsContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#input {
  animation: expandOut 400ms linear;
  border: none;
  outline: 1px solid black;
  border-radius: 5px;
  height: 25px;
}

.button {
  cursor: pointer;
  scale: 1.3;
  color: white;
}

#search.true {
  scale: 1.3;
  cursor: pointer;
  color: white;

}

@keyframes expandOut {
  0% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  50% {
    transform: rotateY(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

#draftsLabel{
  color: white;
  font-weight: bold;
}
