#directoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
}


#loadMoreButton {
  outline: 1px solid black;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#optionsContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.optionHighlighted {
  background-color: #4CAF50 !important;
  color: white !important;
}


#centralContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}