#directoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

#tabContainer {
  background-color: #2c2e33;
  display: flex;
  width: 140px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 20px 0px;
  gap: 20px;
}

#individualTab {
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
  user-select: none;
  font-size: 1em;
}

#loadMoreButton {
  outline: 1px solid black;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.optionHighlighted {
  background-color: #4CAF50 !important;
  color: white !important;
}
