.studentContainer {
  height: calc(100vh - headerHeight - footerHeight);
  background-color: #d5212e;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding: 10px 15px;
  user-select: none;
}
#studentItem {
  color: white;
  font-weight: lighter;
  cursor: pointer;
}

#studentListHeading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-weight: bold;
  border-bottom: 0.5px solid white;
}

th {
  color: white;
  text-align: left;
}

#studentHeading {
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  opacity: 0.7;
}

td {
  text-align: left;
}

.selectedStudent {
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 10px;
}

#activeInactiveLabel {
  color: white;
  opacity: 0.6;
}

#studentNameRow {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 10px;
  padding: 5px 5px;
  color: white;
  margin-top: 10px;
  user-select: none;
}

#dashBoardButton{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 10px;
  padding: 5px 5px;
  color: white;
  margin-top: 10px;
  user-select: none;
  cursor: pointer;
  margin-bottom: 10px;
}
